<div class="mb-3">
  <label for="prdcat">Category</label>
  <select class="form-control" name="cat" id="prdcat" [(ngModel)]="selectedCatID">
    <option value="0">All</option>
    <option *ngFor="let cat of catList" [value]="cat.id">{{cat.name}}</option>
  </select>

  <!-- For test cat id: <h3>{{selectedCatID}}</h3> -->
</div>
<app-products [receivedCatID]="selectedCatID" (totalPriceChanged)="totalPriceFunc($event)"></app-products>


<h3>Total Order Price: {{receivedOrderTotalPrice}}</h3>


<br>
<!-- viewchild for input -->
<div>
    <label for="userName">User Name</label>
    <input type="text" name="userName" id="userName" #userName class="form-control">
</div>

<!-- ViewChild for product component -->
<div class="bg-success">
    <h2>For test:</h2>
    <button class="btn btn-primary" (click)="getArray()">Test product array</button>

</div>
