<!-- Interface -->
<!-- <h1>{{store.name}}</h1> -->
<!-- <img src="{{store.coverImgURL}}" alt=""> -->
<!-- <p>{{store.branches}}</p> -->

<!-- structural directive -->
<!-- Loop on element=> *ngFor="let var of arrayName" -->
<!-- <ul>
    <li *ngFor="let branch of store.branches">{{branch}}</li>
</ul> -->


<!-- Class -->
<h1>{{storeDataClass.name}}</h1>
<!-- <img src="{{storeDataClass.imgUrl}}" alt=""> -->

<!-- Property Binding -->
<!-- true=>shown || false=>hidden -->
<img *ngIf="showImg" [src]="storeDataClass.imgUrl" alt=""> 

<!-- Day2 -->
<!-- Event binding -->
<button class="btn btn-primary" (click)="toggleImg()">Toggle Img</button>
<br>
<br>
<!-- <input type="text" [value]="userFeedback" class="form-control"> -->
<input type="text" [(ngModel)]="userFeedback" class="form-control">
<br>
For Test: {{userFeedback}}